@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/* NavBar */
.nav {
  display: grid;
  background-color: transparent;
}
.nav a {
  color: inherit;
  text-decoration: none;
}

.nav a:hover {
  color: red;
}

.nav a:active {
  color: gray;
}

/* Baner parte 1 */

.banner h3 {
  margin-top: 50px;
  font-weight: 700;
  text-align: justify;
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
}
